@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #AAADB3;
	opacity: 1

*:-moz-placeholder
	color: #AAADB3
	opacity: 1

*::-moz-placeholder
	color: #AAADB3
	opacity: 1

*:-ms-input-placeholder
	color: #AAADB3
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
  min-height: 850px

//Custom Styles Here
h1
  font-family: Gilroy 
  font-size: 36px
  color: $basic-purple
  font-weight: bold
  position:relative

h2
  font-family: Helvetica, Bold
  font-size: 20px
  color: $basic-brown

h3 
  font-family: Helvetica, Regular
  font-size: 24px
  color: $basic-white

header
  height: 64px
  box-shadow: 0 2px 6px 0 rgba(134,134,134,0.32)
  display: table
  position: absolute
  width: 100%

.heading
  z-index: -1
  position: relative

.navbar-content
  display: table-cell
  vertical-align: middle
  text-align: center;
  height: 64px
  line-height: 64px
  div
    display: inline

.main-btn-text
  font-family: Helvetica
  color: $basic-brown
  font-size: 16px

.report
  margin-left: 50px
  span
     margin-left: 12px
  a
    text-decoration: none
    color: $basic-purple
    height: 19px
    width: 49px
    color: #303030
    font-family: Helvetica
    font-size: 16px
    line-height: 19px
    font-weight: normal

.score-button 
  width: 119px
  outline: none
  border: none
  border-radius: 4px	
  background-color: #3D95E9	
  box-shadow: 0 4px 8px 0 rgba(61,149,233,0.32)
  span
    color: #FFFFFF	
    font-family: Helvetica	
    font-size: 14px
    font-weight: bold
    line-height: 17px
    text-align: center

.button-wrapper 
  display: table-cell
  vertical-align: middle
  margin-left: 58px
  height: 64px;
  button
    height: 33px
    position: relative
    top: 16px
    span
      position: relative
      top: -18px

.save-filters-button
  @extend .score-button-lg
  animation: btnHoverBack 0.4s
  transform: translate3d(0, 0, 0)
  height: 40px
  width: 178px !important
  border-radius: 4px
  background-color: #24C6DD
  box-shadow: 0 4px 8px 0 rgba(36,198,221,0.32)
  &:hover
    opacity: 0.8
    animation: btnHover 0.4s 
    transform: translate3d(0, 0, 0)
    margin-top: -3px
    margin-bottom: 6px

.submit-report-button
  @extend .score-button
  background-color: #24C6DD
  &:hover
    opacity: 0.8

.green-button-lg
  @extend .score-button
  animation: btnHoverBack 0.4s
  transform: translate3d(0, 0, 0)
  margin-top: 0
  &:hover
    opacity: 0.8
    animation: btnHover 0.4s 
    transform: translate3d(0, 0, 0)
    margin-top: -3px;
  height: 52px
  width: 262px
  border-radius: 4px	
  background-color: #6BBE7A	
  box-shadow: 0 4px 8px 0 rgba(107,190,122,0.32)

.score-button-lg
  @extend .score-button
  height: 52px
  width: 100%
  animation: btnLgHoverBack 0.4s 
  transform: translate3d(0, 0, 0)
  &:hover
    opacity: 0.8
    animation: btnLgHover 0.4s 
    transform: translate3d(0, 0, 0)
    margin-top: -3px
    margin-bottom: 3px
  span
    width: 57px
    height: 19px
    font-size: 16px
    letter-spacing: 1.5px
    line-height: 52px

/* START Button animation section */

@keyframes btnHover 
  0% 
    margin-top: 0
  100% 
    margin-top: -3px

@keyframes btnHoverBack 
  0% 
    margin-top: -3px
  100% 
    margin-top: 0px

@keyframes btnLgHover 
  0% 
    margin-top: 0
    margin-bottom: 0px
  100% 
    margin-top: -3px
    margin-bottom: 3px

@keyframes btnLgHoverBack 
  0% 
    margin-top: -3px
    margin-bottom: 3px
  100% 
    margin-top: 0px

/* END Button animation section */

.notification-box
  margin-right: 25px
  img
    margin-top: -3px;
    width: 29px
    height: 29px
  a
    text-decoration: none
  div
    position: relative
  span
    font-size: 9px
    color: #FFFFFF
    position: absolute
    top: -29px
    right: 9.5px

.user-box
  a
    text-decoration: none

.greeting
  margin-left: 10px
  height: 19px
  width: 86px
  color: #3E3E3E
  font-family: Helvetica
  font-size: 16px
  line-height: 19px
  font-weight: normal

.container
  padding-top: 132px

.score-form
  width: 318px
  div 
    width: 100%
    padding-top: 32px
    &.text-buttons
      padding-top: 16px
      a
        color: $basic-blue
        text-decoration: none
        &:hover
          color: $basic-blue
  input
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 100%
    height: 52px
    border: 1px solid #D9DEE5
    border-radius: 4px
    outline: none
    padding: 16px
    &:first-of-type

/* START Footer with waves section */

footer
  position: fixed
  bottom: 0
  height: 140px

.wave 
  background: url(../img/wave.svg) repeat-x
  position: absolute
  bottom: 0px
  width: 6400px
  height: 50%
  animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite
  transform: translate3d(0, 0, 0)

@keyframes wave 
  0% 
    margin-left: 0;
  100% 
    margin-left: -1600px;

@keyframes swell 
  0%, 100% 
    transform: translate3d(0,-25px,0);
  
  50% 
    transform: translate3d(0,5px,0);

/* END Footer with waves section */


/* START First Login Modal section */
.modal-first
    display: none 
    position: fixed 
    height: 100vh !important
    z-index: 1
    height: 100%
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

.modal-content
  height: 343px
  width: 587px
  border-radius: 4px
  background-color: #FFFFFF
  box-shadow: 0 8px 32px 0 rgba(134,134,134,0.32)
  margin-left: auto
  margin-right: auto
  margin-top: 15%
  padding: 46px 133px 40px 133px
  h2
    height: 52px
    width: 320px
    color: #2B3D6B
    font-family: Helvetica
    font-size: 18px
    line-height: 26px
    text-align: center
  p
  	width: 262px
  	color: #3E3E3E
  	font-family: Helvetica
  	font-size: 15px
  	font-weight: 300
  	line-height: 21px
  	text-align: center
  	margin-left: auto;
  	margin-right: auto;
  button
    margin
  div
    margin-left: auto
    margin-right: auto
    text-align: center

/* END First Login Modal section */

/* START Advanced filters section */

#advanced-filters
  display: none
  margin-top: 30px
  margin-right: 10px
  height: 262px
  width: 352px
  border-radius: 4px
  background-color: #FFFFFF
  box-shadow: 0 8px 24px 0 rgba(134,134,134,0.32)
  &.higher
    height: 409px
  h2
    color: $basic-purple
    text-align: center
    font-family: Helvetica
    font-size: 24px
    line-height: 29px
    font-weight: normal
  .filters-list
    ul
      margin: 0
      list-style-type: none
    li 
      padding-left: 50px
      a
        color: #3E3E3E
        font-size: 15px
        line-height: 18px
        text-decoration: none
	


  .control
    padding-left: 75px
    &.last
      margin-bottom: 15px
    span
      color: #3E3E3E
      font-size: 15px
    a
      text-decoration: none
    img
      &.rotated
        transform: rotate(90deg);
 

/* END Advanced filters section */


/* START User box section */

#UserDropdownModal
  position: fixed
  top: 80px
  right: 60px
  height: 84px
  width: 135px
  border-radius: 4px
  background-color: #FFFFFF
  box-shadow: 0 4px 10px 0 rgba(134,134,134,0.32)
  z-index: 1
  div
    height: 42px
    text-align: center
    a 
      color: #3E3E3E
      font-family: Helvetica
      font-size: 15px
      line-height: 42px
      text-decoration: none
    &:hover
      background-color: #CCFCD6

.user-box
  img
    &.rotated
      transform: rotate(180deg)


/* END User box section */

/* START Report modal section */

#ReportModal
  position: fixed
  z-index: 1
  top: 80px
  left: 40px
  height: 289px
  width: 380px
  border-radius: 4px
  background-color: #FFFFFF
  box-shadow: 0 4px 10px 0 rgba(134,134,134,0.32)
  div
    text-align: center
    padding-top: 32px
    padding-bottom: 24px
    color: #2B3D6B
    font-size: 24px
    line-height: 29px
  textarea
    margin-left: 32px
    margin-right: 32px
    height: 116px
    width: 316px 
    border: 1px solid #D9DEE5
    border-radius: 4px
    overflow-y: scroll
    padding: 10px
    outline: none
    resize: none
  button
    float: right
    margin-right: 32px
    margin-top: 16px
    width: 126px
    height: 40px


/* END Report modal section */


/* START Saved searches section */

#deleteAllSearchesModal
  .modal-content
    height: 176px
    margin-top: 130px
    border: none
    border-radius: 4px
  .modal-backdrop
    opacity: 0
  .question
    color: #3E3E3E
    font-family: Helvetica
    font-size: 16px
    line-height: 19px
    text-align: center
    margin-bottom: 24px
  .delete
    border: 1px solid #24C6DD
    border-radius: 4px
    font-size: 16px
    background-color: #FFFFFF
    width: 84px
    height: 32px 
    line-height: 12px
    margin-right: 16px
    animation: btnHoverBack 0.2s 
    transform: translate3d(0, 0, 0)
    &:hover 
      animation: btnHover 0.2s 
      transform: translate3d(0, 0, 0)
      background-color: #24C6DD
      color: #FFFFFF
      opacity: 0.8
      margin-top: -3px
  .cancel
    border-radius: 4px
    background-color: #6BBE7A
    color: #FFFFFF
    font-size: 16px
    width: 84px
    height: 32px 
    line-height: 12px
    animation: btnHoverBack 0.2s 
    transform: translate3d(0, 0, 0)
    &:hover
      opacity: 0.8
      animation: btnHover 0.2s 
      transform: translate3d(0, 0, 0)
      margin-top: -3px

#deleteSelectedSearchesModal
  @extend #deleteAllSearchesModal   

.modal, .modal-backdrop
    position: absolute !important

#savedSearchesModal
  position: fixed
  display: none
  top: 320px
  left: 50%
  margin-left: -398px; /* Half of the width */
  height: 412px
  width: 796px
  border-radius: 4px
  background-color: #FFFFFF
  box-shadow: 0 6px 24px 0 rgba(134,134,134,0.32)

.toolbar
  height: 54px
  width: 796px
  background-color: #24C6DD
  line-height: 54px
  color: #FFFFFF
  .exit
    margin-left: 44px
  .search
    margin-left: 30px
    position: relative
    background-color: #24C6DD
    input
      height: 28px
      width: 164px
      border: 1px solid #FFFFFF
      border-radius: 4px
      outline: none
      color: #FFFFFF;
      text-indent: 10px
      background-color: #24C6DD
      padding-left: 36px
      font-size: 14px
    img
      position: absolute
      left: 30px
      top: 6px
  .toolbar-heading
    margin-left: 55px
    width: 179px
    color: #FFFFFF
    font-family: Helvetica
    font-size: 24px
    position: absolute
    top: 2px
  .delete
    float: right
    margin-right: 45px
    a
      color: #FFFFFF
      text-decoration: none
      outline: none
    img
      margin-bottom: 4px
  div
    display: inline
#saved-searches-table
  height: 358px !important
  overflow-y: scroll
  .no-elements
    color: #3E3E3E
    position: absolute
    font-weight: bold
    font-size: 20px
    text-align: center
    top: 200px
    left: 240px
  table
    thead
      tr
        height: 54px
        box-shadow: 0 36px 54px 0 rgba(134,134,134,0.32) !important
    th
      a
        float: left
        text-align: left
        color: #8F8F8F
        font-family: Helvetica
        font-size: 14px
        font-weight: bold
        line-height: 17px
        text-decoration: none
        line-height: 32px
      img
        padding-left: 5px
        &.inverted
          transform: rotate(180deg)
          margin-left: 5px
        &.unsorted
          height: 16px
          width: 16px
          margin-left: 1px
    width: 100% 
    tbody
      tr
        height: 60px
        &.selected
          background-color: #24C6DD !important
          color: #FFFFFF
      tr:nth-child(2n-1)
        background-color: #EEEEEE
        &.selected
          background-color: #24C6DD !important
          color: #FFFFFF
      td
        img
          padding-left: 5px
          padding-top: 15px
        font-family: Helvetica
        font-size: 15px
        line-height: 18px
    .checkbox
      width: 66px
      padding-left: 16px
    .name
      width: 332px
      padding-right: 40px
    .upc
      width: 132px
    .company
      width: 132px
    .date
      width: 132px

/* END Saved searches section */

/* START Notification modal section */

#NotificationModal
  position: fixed
  top: 70px
  right: 200px
  width: 324px
  border-radius: 4px
  box-shadow: 0 4px 10px 0 rgba(134,134,134,0.32)
  background: #ffffff
  z-index: 1
  .notification-wave
    width: 324px
    padding-bottom: 16px
    display: block
    text-align: center
  .notification-content
      font-size: 15px
      padding: 16px
      color: #3E3E3E;
      div
        padding: 0 !important
      img
        width: 24px
        height: 24px
        margin-left: 16px
      .signing
        font-size: 12px
        color: #8F8F8F;
      &:hover
        background-color: #CCFCD6;


/* END Notification modal section */

/* START Settings page section */

#mainPage
  display: none

#settingsPage
  margin-top: 48px
  .heading
    h2
      text-align: left
      color: #2B3D6B
      font-family: Helvetica
      font-size: 24px
      font-weight: bold
      line-height: 48px
      margin: 0
      padding: 0
      span
        color: #24C6DD
    h3
      color: #8F8F8F
      margin: 0
      font-family: Helvetica
      font-size: 16px
      font-weight: bold
      line-height: 19px
  .upgrade-btn-holder
    padding-top: 20px
  .upgrade-account-btn
    height: 41px
    width: 225px
    border-radius: 4px
    background-color: #3D95E9
    border: none
    box-shadow: 0 4px 8px 0 rgba(61,149,233,0.32)
    animation: btnLgHoverBack 0.3s 
    transform: translate3d(0, 0, 0)
    &:hover
      animation: btnLgHover 0.3s 
      transform: translate3d(0, 0, 0)
      margin-top: -3px
      margin-bottom: 3px
      opacity: 0.8
    span
      color: #FFFFFF
      font-family: Helvetica
      font-size: 14px
      font-weight: bold
      line-height: 17px
      text-align: center
      letter-spacing: 1px
    img
      margin-right: 4px
      margin-top: -3px
  .main-settings-row
    margin-top: 48px
    .back-search-btn
      @extend .upgrade-account-btn
      width: 274px
      height: 48px
      background-color: #24C6DD
      letter-spacing: 0.5px
      span
        line-height: 48px
    .settings-menu
      list-style-type: none
      width: 274px
      padding: 0
      padding-top: 32px
      li
        border: 1px solid #24C6DD
        border-bottom: none
        height: 48px
        line-height: 48px
        padding-left: 24px
        &:first-child
          border-radius: 4px 4px 0 0
        &:last-child
          border-radius: 0 0 4px 4px
          border-bottom: 1px solid #24C6DD
        &.active
          background-color: #24C6DD
          a
            color: #FFFFFF
        a
          &:hover
            font-weight: bold
          text-decoration: none
          font-size: 15px
          color: #3E3E3E
        img
          margin-top: -5px
          margin-right: 8px
  .settings-frame
    color: #111111
    height: 100vh
    .settings-form
      div
        margin-top: 40px
        &.top
          margin-top: 0
        input
          width: 484px
          height: 48px
          border: 1px solid #D9DEE5
          border-radius: 4px
          outline: none
          padding: 15px
          font-size: 15px
    .profile-frame
      .profile-top-section
        img
          width: 100px
          height: 100px
      .delete-photo
        border: 1px solid #24C6DD
        border-radius: 4px
        font-size: 15px
        background-color: #FFFFFF
        width: 84px
        height: 34px 
        line-height: 12px
        outline: none
        margin-right: 16px
        &:hover
          animation: changeColor 0.2s 
          background-color: #24C6DD
          color: #FFFFFF
          opacity: 0.8
      .upload-button
        @extend .delete-photo
        width: 155px
        color: #FFFFFF
        background-color: #24C6DD
        font-size: 15px
        margin-left: 24px
        animation: btnHoverBack 0.2s 
        transform: translate3d(0, 0, 0)
        &:hover 
          margin-top: -3px
          animation: btnHover 0.2s 
          transform: translate3d(0, 0, 0)
.users-frame
  height: 368px
  width: 588px
  border: 1px solid #24C6DD
  border-radius: 4px
  background-color: #FFFFFF
  .toolbar
    width: 588px
    .toolbar-heading
      text-align: center
      width: auto !important
      padding: 0  
      line-height: 52px
.users-table
  @extend #saved-searches-table
  height: 310px !important
  .table-container
    font-size: 14px
    tr
      width: 588px
    .searchesNum
      text-align: center
    .username
      width: 180px
    .checkbox
      width: 50px
    .lastActive
      width: 100px
.text-aligned
  padding-left: 40px


.searches-frame
  .purchase
    padding-top: 20px
  button
    @extend .score-button
    height: 41px; width: 216px
    border-radius: 4px
    background-color: #6BBE7A
    width: 214px
    margin-right: 32px
    &:hover
      opacity: 0.8
    &.yellow
      background: linear-gradient(180deg, #F5DC4F 0%, #F4AF53 100%)
  .heading
    width: 516px
    color: #3E3E3E
    font-family: Helvetica
    font-size: 20px
    font-weight: bold  
    line-height: 28px
    padding-top: 10px
  .progress-bar-holder
    padding-top: 24px
    padding-right: 50px
    .progress-bar
      background-color: #24C6DD
    .progress
      height: 12px
      background-color: #3D95E9
      margin-top: 5px
      span
        height: 12px
    span
      font-size: 15px
      color: #3E3E3E
    .left
      float: left
    .right
      float: right

.subscription-frame
  div
    padding-left: 0
    padding-right: 0
  button
    padding-left: 20px
    padding-right: 20px
    width: auto
    line-height: 100%
    margin-left: 0px
    span
      font-size: 14px
    @extend .score-button-lg
  .button-holder
    margin-top: 52px
  .price
    color: #3E3E3E
    font-family: Helvetica
    font-size: 28px
    font-weight: 300
    line-height: 34px
    text-align: center
    margin-top: 18px
  .configuration
    margin-top: 17px
    height: 22px
    color: #3E3E3E
    font-family: Helvetica
    font-size: 18px
    font-weight: bold
    line-height: 22px
  .heading
    height: 56px
    width: 516px
    color: #3E3E3E
    font-family: Helvetica
    font-size: 20px
    font-weight: bold  
    line-height: 28px
  .description
    text-align: center
    div
  .ship-image
    margin-top: 20px
    padding-left: 0px
    img
      width: 172px
      height: 172px
  .subscription-name
    text-align: center
    margin-top: 5px
    div
      padding-bottom: 5px

.subscription-details
  .heading
    span
      color: #24C6DD
  .description
    width: 600px
    img
      float: left
      padding-left: 80px
      padding-top: 20px
      padding-bottom: 50px
    .text-content
      width: 300px
      display: inline
    .period
      font-size: 16px
    .price
       font-size: 32px
       color: #3E3E3E
    .details
      font-size: 16px
      font-weight: bold
      padding-top: 16px
      line-height: 30px
      span
        margin-bottom: 10px
  .button-holder
    button
      width: 233px
      height: 41px
      animation: none !important
      &.green
        background-color: #6BBE7A
      &.blue
        margin-left: 24px
        border: 1px solid #24C6DD
        background-color: #FFFFFF
        &:hover
          span
            color: #FFFFFF 
        span
          color: #3E3E3E
        &:hover
          background-color: #24C6DD
          color: #FFFFFF
      span
        line-height: 41px
        letter-spacing: 1px
      &:hover
        opacity: 0.8
        margin-top: 0px




#deleteSelectedUsersModal
  @extend #deleteSelectedSearchesModal
  width: 340px
  margin-left: 120px
  .modal-content
    margin-left: -120px
    height: 176px

#addUserModal
  @extend #deleteSelectedUsersModal
  .question
    font-size: 18px
    margin-top: -25px
  input
    margin-top: -5px
    margin-bottom: 15px
    height: 40px
    width: 190px
    border: 1px solid #D9DEE5
    border-radius: 4px
    padding: 10px
    outline: none

#monthlySubscriptionsPage
  display: none
  padding-top: 50px
  @extend .subscription-frame
  .back-settings-btn
    @extend .score-button-lg
    height: 48px
    width: 274px
    border-radius: 4px
    background-color: #24C6DD
    box-shadow: 0 4px 8px 0 rgba(36,198,221,0.32)
    border: none
    font-size: 14px
    padding: 0
    span
      line-height: 48px
      padding-left: 5px
    img
      margin-top: -3px
  .head
    text-align: center
    color: #2B3D6B
    font-family: Gilroy
    font-size: 36px
    font-weight: 800
    line-height: 44px
    margin-top: 30px
  button
    height: 41px
    span
      line-height: 41px
  .configuration
    line-height: 40px
  .button-holder
    padding-top: 30px

#endSubscriptionModal
  .modal-content
    height: 306px
    margin-top: 130px
    border: none
    border-radius: 4px
  .modal-backdrop
    opacity: 0
  .question
    color: #3E3E3E
    font-family: Helvetica
    font-size: 16px
    line-height: 19px
    text-align: center
    margin-bottom: 24px
  .delete
    border: 1px solid #24C6DD
    border-radius: 4px
    font-size: 16px
    background-color: #FFFFFF
    width: 84px
    height: 32px 
    line-height: 12px
    margin-right: 16px
    animation: btnHoverBack 0.2s 
    transform: translate3d(0, 0, 0)
    &:hover 
      animation: btnHover 0.2s 
      transform: translate3d(0, 0, 0)
      background-color: #24C6DD
      color: #FFFFFF
      opacity: 0.8
      margin-top: -3px
  .cancel
    border-radius: 4px
    background-color: #6BBE7A
    color: #FFFFFF
    font-size: 16px
    width: 84px
    height: 32px 
    line-height: 12px
    animation: btnHoverBack 0.2s 
    transform: translate3d(0, 0, 0)
    &:hover
      opacity: 0.8
      animation: btnHover 0.2s 
      transform: translate3d(0, 0, 0)
      margin-top: -3px

@keyframes changeColor
  0%  
    background-color: #FFFFFF
  100% 
    background-color: #24C6DD

@keyframes changeColorBack
  0%  
    background-color: #24C6DD
  100% 
    background-color: #FFFFFF



/* END Settings page section */

//ALWAYS END
@import "media"
